<!DOCTYPE html>
<html>
<head><title>Error</title></head>
<body>
  <h1>Oops! Something went wrong</h1>
  <p><%= message %></p>
  <pre><%= error %></pre>
  <a href="/inventory">Try again</a>
</body>
</html>